.paginator {
  display: flex;
  justify-content: center;
}

.markdown-image {
  max-width: 100%;
}

.markdown-image-container {
  display: block;
  padding: 12px 0px;
  text-align: center;
}

.markdown-video-container {
  display: block;
  text-align: center;
  padding: 12px 0px;
}

.markdown-video {
  max-width: 100%;
}